.paginacuatro {
  background-color: #eed6ee; }

.paginauno {
  background-color: #eed6ee; }

/* header */
.title h1 {
  padding: 30px o;
  font-size: 35px;
  text-transform: uppercase;
  -webkit-animation: rotate-scale-up 0.65s linear both;
  animation: rotate-scale-up 0.65s linear both;
  height: 100%;
  text-align: center; }

.nombre h1 {
  text-align: center;
  font-size: 40px; }

.carruceluno {
  margin: auto;
  width: 800px;
  height: 500px auto; }

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0); }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg); }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg); } }

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0); }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg); }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg); } }

.descripcion .articulo h2 {
  font-size: 40px; }

.menu {
  background-color: dimgrey; }
  .menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center; }
    .menu ul li {
      padding: 20px;
      font-size: 20px; }
    .menu ul a {
      font-weight: bold;
      text-decoration: none; }

@media screen and (max-width: 768px) {
  .menu ul {
    flex-direction: column;
    text-align: center; } }

.ventas {
  height: 70px;
  width: 100%; }
  .ventas h1 {
    text-align: center;
    justify-content: center;
    font-style: italic;
    font-weight: bold; }

.ventasuno {
  width: 100%;
  height: 70px;
  text-align: center;
  font-style: italic;
  font-weight: bold; }

.ventasdos {
  width: 100%;
  height: 70px;
  text-align: center;
  font-style: italic;
  font-weight: bold; }

.pieventas {
  width: 100%;
  height: 200px;
  float: left; }

.paginacinco {
  background-color: #eed6ee; }

.registro {
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center; }

form {
  background: white;
  padding: 40px 0; }
  form .grupo {
    position: relative;
    margin: 45px; }

.form {
  width: 100%;
  margin: auto; }
  .form h1 {
    text-align: center;
    font-weight: 700; }
  .form input {
    background: none;
    font-size: 18px;
    color: #c6c6c6;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid; }

input:focus {
  outline: none;
  color: black; }

label {
  left: 5px;
  top: 10px;
  font-size: 16px;
  bottom: 0;
  transition: 0.5s ease-in-out all;
  pointer-events: none;
  color: #020024; }

input:focus ~ label {
  top: -14;
  color: blue; }

.barra {
  position: relative;
  display: block;
  width: 100%; }

.barra::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: radial-gradient(circle, #020024 0%, rgba(58, 120, 124, 0.272146) 17%, #00ff3b 100%);
  transition: 0.3s ease width;
  left: 0; }

input:focus ~ .barra::before {
  width: 100%; }

button {
  background: #00d4ff;
  border: none;
  display: block;
  width: 80%;
  margin: 10px auto;
  height: 40px;
  font-size: 16px;
  cursor: pointer; }

@media screen and (max-width: 500px) {
  form {
    width: 80%; } }

.oportu {
  height: 100px;
  text-align: center; }
  .oportu h2 {
    text-align: center; }
  .oportu a {
    text-decoration: none;
    font-weight: bold; }

.card-group {
  margin-bottom: 60px; }

.pie {
  width: 80%;
  height: 200px; }
  .pie .contacto {
    float: left;
    color: black; }

.pie .redes {
  float: right; }

.oportu {
  text-align: center; }
  .oportu h1 {
    text-align: center;
    font-style: italic;
    font-weight: bold; }

.paginados {
  background-color: #eed6ee; }

.paginatres {
  background-color: #eed6ee; }

.alquiler h1 {
  text-align: center;
  font-style: italic;
  font-weight: bold; }

.zonaramos h2 {
  text-align: center;
  font-style: italic;
  font-weight: bold; }

.zonaliniers h2 {
  text-align: center;
  font-style: italic;
  font-weight: bold; }

.zonahaedo h2 {
  text-align: center;
  font-style: italic;
  font-weight: bold; }

.registrate h1 {
  text-align: center;
  font-style: italic;
  font-weight: bold; }

.container_xl {
  width: 1000px;
  height: 400px;
  margin: auto; }
  .container_xl .img img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    float: left; }

.container_xl .parrafo {
  font-size: 20px;
  text-align: center;
  font-family: italic; }

@media screen and (max-width: 768px) {
  .container_xl {
    width: 100%;
    height: 900px;
    margin: auto; }
    .container_xl .img img {
      text-align: center;
      width: 100%; } }

@media screen and (max-width: 768px) {
  .container_xl .parrafo {
    margin: auto; } }

@media screen and (max-width: 768px) {
  .carruceluno {
    margin: auto;
    width: 100%; } }

@media screen and (max-width: 768px) {
  .pie .contacto {
    width: 100%;
    float: left;
    margin-bottom: 10px; } }

@media screen and (max-width: 768px) {
  .pie .redes {
    float: left; } }

.container-xl {
  margin-bottom: 30px; }
