.paginacuatro {
    background-color: darkcyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  
  /* header */
  .title h1 {
    padding: 30px o;
    
    font-size: 35px;
    text-transform: uppercase;
    -webkit-animation: rotate-scale-up 0.65s linear both;
    animation: rotate-scale-up 0.65s linear both;
    height: 100%;
    
}
  
  .nombre h1 {
    text-align: center;
    font-size: 40px;
 }
  
  .conteiners {
    background-color: antiquewhite;
    width: 100%;
    max-width: 1000px;
    margin: 25px auto;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(5, 1fr); }
   

  
  .conteiners > .nombre,
  .conteiners > .descripcion,
  .conteiners > .imagencasas,
  
  
  .conteiners > div {
    background-color: antiquewhite;
    padding: 20px;
    border: 1px solid black; }
  
  .conteiners .nombre,
 
  
  .conteiners > .descripcion {
    grid-column: span 3; }
  
  .conteiners > .imagencasas {
    grid-column: span 2;
    background: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  
  .descripcion > .articulo h1,
  .descripcion > .articulo p {
    padding: 10px; }
  
  .conteiners .depto {
    background: grey;
    color: blanchedalmond; }
  
  .depto :hover {
    cursor: pointer;
    color: black;
    background: blanchedalmond; }
  
  .imagencasas :hover {
    cursor: pointer;
    color: black;
    background: blanchedalmond; }
  
 
  
  @-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
      transform: scale(1) rotateZ(0); }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
      transform: scale(2) rotateZ(180deg); }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
      transform: scale(1) rotateZ(360deg); } }
  
  @keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
      transform: scale(1) rotateZ(0); }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
      transform: scale(2) rotateZ(180deg); }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
      transform: scale(1) rotateZ(360deg); } }

.descripcion{
    .articulo{
        h2{
            font-size: 40px;
        }
    }
}
.title{
    .menu{
        background-color: dimgrey;
        ul{
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            justify-content: center;
            li{
                padding: 20px;
                font-size: 20px;
            }
                
        }
    }
}  
.menu ul li:hover {
    background-color: black;
    color: blanchedalmond;
}
.ventas{
    height: 70px;
    width: 100%;
    
    text-align: center;
    justify-content: center;
    font-style: italic;
    font-weight: bold;
}
.ventasuno{
    width: 100%;
    height: 70px;
    text-align: center;
    
    
    font-style: italic;
    font-weight: bold;
}
.ventasdos{
    width: 100%;
    height: 70px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    
}
.pieventas{
    width: 100%;
    height: 200px;
    float: left;
}
.paginacinco{
  background: rgb(2,0,36);
background: -moz-radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(58,120,124,0.2721463585434174) 17%, rgba(0,255,59,1) 100%);
background: -webkit-radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(58,120,124,0.2721463585434174) 17%, rgba(0,255,59,1) 100%);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(58,120,124,0.2721463585434174) 17%, rgba(0,255,59,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00ff3b",GradientType=1);
}
.registro{
height: 650px;
display: flex;
justify-content: center;
align-items: center;
}
form{
  background: white;
  padding: 40px 0;
  border-radius: 10px;
  .grupo{
    position: relative;
    margin: 45px;
  }
}
.form{
  width: 100%;
  margin: auto;
  h1{
    text-align: center;
    font-weight: 700;
  }
  input{
    background: none;
    font-size: 18px;
    color: #c6c6c6;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    
    }

  }

input:focus{
  outline: none;
  color: black;
  
}
label{
  left: 5px;
  top: 10px;
  font-size: 16px;
  
  bottom: 0;
  transition: 0.5s ease-in-out all;
  pointer-events: none;
  color: #020024;
}
input:focus~label{
  top: -14;
  color: blue;
}
.barra{
  position: relative;
  display: block;
  width: 100%;
}
.barra::before{
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(58,120,124,0.2721463585434174) 17%, rgba(0,255,59,1) 100%);
  transition: 0.3s ease width;
  left: 0;
}
input:focus~.barra::before{
  width: 100%;
}
button{
background: #00d4ff;
border: none;
display: block;
width: 80%;
margin: 10px auto;
height: 40px;
font-size: 16px;
cursor: pointer;
}
@media screen  and (max-width:500px){
  form{
    width: 80%;
  }
  
}
.oportu{
  height: 100px;
  text-align: center;
      h2{
    text-align: center;
      }
    
    
    
  }



.oportunidades :hover{
  cursor: pointer;
    color: black;
    background: blanchedalmond; 
}
.pie{
  text-align: left;
  color:black;
}
.oportu{
  
  
  text-align: center;
  h1{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    
  }
}
.paginados{
  background: rgb(34,193,195);
background: -moz-radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(108,121,64,0.7931547619047619) 58%);
background: -webkit-radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(108,121,64,0.7931547619047619) 58%);
background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(108,121,64,0.7931547619047619) 58%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#6c7940",GradientType=1);
}
.paginatres{
  background: rgb(34,193,195);
background: -moz-radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(108,121,64,0.7931547619047619) 58%);
background: -webkit-radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(108,121,64,0.7931547619047619) 58%);
background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(108,121,64,0.7931547619047619) 58%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#6c7940",GradientType=1);
}
.paginacuatro{
  background: rgb(34,193,195);
background: -moz-radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(108,121,64,0.7931547619047619) 58%);
background: -webkit-radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(108,121,64,0.7931547619047619) 58%);
background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(108,121,64,0.7931547619047619) 58%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#6c7940",GradientType=1);
}
.alquiler{
  h1{
    text-align: center;
    font-style: italic;
    font-weight: bold;
  }
}
.zonaramos{
  h2{
    text-align: center;
    font-style: italic;
    font-weight: bold;
  }
}
.zonaliniers{
  h2{
    text-align: center;
    font-style: italic;
    font-weight: bold;
  }
}
.zonahaedo{
  h2{
    text-align: center;
    font-style: italic;
    font-weight: bold;
  }
}
.registrate{
  h2{
    text-align: center;
    font-style: italic;
    font-weight: bold;
  }
  }

